@use '@sass/mixins.scss' as m;
.rating {
    line-height: 100%;
    :global {
        .ant-rate-star:not(:last-child) {
            margin-right: 4px;
            line-height: 100%;
        }
    }
}

.header {
    @include m.flex;
}
