@use '@sass/mixins.scss' as m;

.button {
    align-self: flex-start;
    margin-left: var(--gap-m);
    padding: 7px 15px;
    line-height: var(--line-height-base);
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    @media screen and (max-width: 992px) {
        margin-left: 5px;
    }
    @media screen and (max-width: 576px) {
        margin-left: 0;
        padding: 7px 0;
        font-size: 14px;
        border-radius: var(--border-radius-circle);
        border: var(--border-style-base);
        background: var(--base-light);
        box-shadow: var(--box-shadow-dark);
        span {
            margin-right: 0;
        }
    }
}
