@use '@sass/mixins.scss' as m;

.wrapper {
    position: relative;
    max-width: 100%;
    height: 100%;
    margin: var(--gap-24) var(--gap-24) var(--gap-42);
    padding: var(--gap-24);
    @include m.flex;
    background-color: var(--base-light);
    border-radius: var(--border-radius-m);
    @include m.phone {
        margin: var(--gap-24) 0 var(--gap-42);
        padding: 0;
    }
}

.result {
    width: 100%;
    padding: 0;
    :global {
        .ant-result-title {
            font-weight: 500;
            line-height: var(--line-height-base);
            color: var(--light-title-85);
        }

        .ant-result-subtitle {
            line-height: var(--line-height-base);
            color: var(--light-secondary-45);
        }

        .ant-result-extra {
            @include m.flex;
        }
    }
}

.btn {
    @include m.primary-btn;
    width: fit-content;
    font-size: var(--font-size-base);
    color: var(--base-light);
}
