@use '@sass/mixins.scss' as m;

.wrapper {
    @include m.form-wrapper;
    max-width: 539px;
    @include m.phone {
        padding: 32px 16px;
    }
}

.container {
    @include m.form-container;
    margin: 0 auto;
    max-width: 368px;
    gap: 24px;
}

.btn {
    @include m.primary-btn;
    @include m.font;
    padding: 10px 15px;
    color: var(--base-light);
    &:hover {
        color: var(--base-light);
        border-color: var(--ant-primary-color-hover);
        background: var(--ant-primary-color-hover);
    }
}

.result {
    width: 100%;
    padding: 0;
    :global {
        .ant-result-title {
            font-weight: 500;
            line-height: 130%;
            color: var(--light-title-85);
        }

        .ant-result-subtitle {
            line-height: 130%;
            color: var(--light-secondary-45);
        }

        .ant-result-extra {
            a {
                margin-right: auto;
            }
        }
    }
}

.wrapper_err_500 {
    @extend .wrapper;
    padding: 64px 32px 56px;
}

.err_500 {
    @extend .container;
    max-width: 100%;
}

.err_500_btn {
    @extend .btn;
    width: fit-content;
    margin: auto;
}

.result_err_confirm {
    @extend .result;
    :global {
        .ant-result-subtitle {
            max-width: 371px;
            margin: auto;
        }
    }
}
