@use '@sass/mixins.scss' as m;

.wrapper {
    padding: var(--gap-40) var(--gap-32);
    @include m.flex($j-c: flex-start);
    flex-wrap: wrap;
    row-gap: var(--gap-24);
    & > * {
        flex: 0 1 50%;
        justify-content: flex-start;
    }

    @include m.phone {
        padding: var(--gap-16) var(--gap-12);
        align-items: flex-start;
        flex-direction: column;
        gap: var(--gap-16);
        & > * {
            flex-basis: 100%;
        }
        div:nth-child(3) {
            align-self: center;
            order: 4;
        }
    }
}

.btn {
    max-width: 209px;
    width: 100%;
    padding: var(--gap-10) 0;
    @include m.phone {
        max-width: 100%;
        order: 3;
    }
}

