@use '@sass/mixins.scss' as m;

.tabs {
    width: 100%;
    max-width: 368px;
    :global {
        .ant-tabs-nav {
            width: 100%;
            flex-grow: 1;
            margin-bottom: var(--gap-24);
        }

        .ant-tabs-nav-list {
            width: 100%;
            @include m.flex($j-c: space-between);
        }
        .ant-tabs-tab {
            width: 50%;
            margin: 0;
            justify-content: center;
            font-size: var(--font-size-m);
            &.ant-tabs-tab-active {
                .ant-tabs-tab-btn {
                    text-shadow: none;
                }
            }
            @include m.phone {
                font-size: var(--font-size-base);
            }
        }
    }
}
