@use '@sass/mixins.scss' as m;

.button {
    position: absolute;
    top: 50%;
    right: -var(--gap-ll);
    width: var(--gap-);
    padding: var(--gap-26) 0;

    border: none;
    border-radius: 0;
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
    transform: translateY(-50%);
    * {
        font-size: var(--font-size-base);
    }
    @include m.phone {
        top: var(--gap-24);
        right: -31px;
        width: var(--gap-32);
        height: 48px;
        padding: var(--gap-l) var(--gap-ms);
        transform: translateY(0);
        * {
            font-size: var(--font-size-m);
        }
    }
}
