@use '@sass/mixins.scss' as m;

.form {
    width: 100%;
    margin-top: var(--gap-ms);
    @include m.phone {
        margin-top: 0;
    }

    :global {
        .ant-form-item {
            margin-bottom: 0;
            &:first-child {
                margin-bottom: var(--gap-32);
            }
            &:nth-child(2) {
                margin-bottom: 30px;
            }
            &:nth-child(3) {
                padding: var(--gap-l) 0 62px 0;
                @include m.phone {
                    padding: var(--gap-l) 0 54px 0;
                }
            }
        }

        .ant-input-group > *,
        .ant-input-affix-wrapper,
        .ant-input {
            line-height: var(--line-height-base);
            color: var(--light-title-85);
        }

        .ant-input {
            line-height: var(--line-height-base);
        }

        .ant-input,
        .ant-input-affix-wrapper {
            @include m.input-affix-wrapper;
        }
        .ant-form-item-control-input {
            min-height: auto;
        }
        .ant-form-item-control-input-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .ant-checkbox-checked {
            .ant-checkbox-inner {
                border-radius: 2px;
            }
        }
        .ant-form-item-explain {
            font-size: 12px;
            line-height: var(--line-height-base);
        }
    }
}

.forgot {
    font-size: var(--font-size-m);
    color: var(--primary-light-6);
    @include m.phone {
        font-size: var(--font-size-base);
    }
}

.primary {
    @include m.primary-btn;
    padding: 7px 15px;
    @include m.phone {
        font-size: var(--font-size-m);
    }
}
