.text {
    margin-bottom: 0;
    font-size: var(--font-size-m);
    line-height: 130%;
    color: var(--primary-light-9);
}

:global {
    div .ant-typography {
        margin-bottom: 0;
    }
    .ant-card-body {
        padding: 0;
    }
}
