@use '@sass/mixins.scss' as m;

.tabs {
    width: 100%;
    :global {
        .ant-tabs-nav {
            width: 100%;
            padding-right: var(--gap-32);
            margin-bottom: var(--gap-32);
            .ant-tabs-nav-operations {
                display: none;
            }
        }

        .ant-tabs-nav-list {
            margin-top: var(--gap-12);
            @include m.flex($j-c: space-between);
            flex-basis: 100%;
        }
        .ant-tabs-tab {
            margin: 0 var(--gap-12);
            padding: 0;
            @include m.font($size: var(--font-size-xl), $weight: 500);
        }
    }
    @include m.tablet-l {
        :global {
            .ant-tabs-nav {
                width: auto;
                margin: 0 var(--gap-12) var(--gap-24);
                padding: 0;
            }

            .ant-tabs-nav-list {
                margin-top: var(--gap-4);
            }
            .ant-tabs-tab {
                margin: var(--gap-14) var(--gap-4);
                padding: 0;
                @include m.font;
            }
        }
    }
    @include m.phone {
        :global {
            .ant-tabs-nav {
                width: calc(100% + 24px);
                margin: 0 -12px;
            }

            .ant-tabs-nav-list {
                gap: var(--gap-2);
                margin-top: 5px;
            }
            .ant-tabs-tab {
                margin: var(--gap-14) var(--gap-4);
                padding: 0;
                @include m.font;
            }
        }
    }
}
