@use '@sass/mixins.scss' as m;

.modal {
    max-width: var(--max-width-modal);
    :global {
        .ant-modal-content {
            box-shadow: none;
            .ant-modal-body {
                padding: 0;
            }
        }
        .ant-result-subtitle {
            @include m.phone {
                letter-spacing: -0.1px;
            }
        }
        .ant-modal-close-x {
            width: 14px;
            height: 14px;
            margin: 24px;
            @include m.font;
        }
    }
}
