@use '../../../sass/mixins.scss' as m;

.wrapper {
    @include m.form-wrapper;
    max-width: 539px;
    padding-bottom: 56px;
    @include m.phone {
        padding: 32px;
    }
}

.container {
    @include m.form-container;
    margin: 0 auto;
    max-width: 475px;
    gap: 24px;
    @include m.phone {
        max-width: 264px;
    }
}

.result {
    padding: 0;
    @include m.phone {
        margin: 0 -8px;
    }
    :global {
        .ant-result-icon {
            .anticon {
                &.anticon-exclamation-circle {
                    color: var(--primary-light-6);
                }
            }
        }
        .ant-result-title {
            font-weight: 500;
            line-height: var(--line-height-base);
            color: var(--light-title-85);
        }

        .ant-result-subtitle {
            line-height: var(--line-height-base);
            color: var(--light-secondary-45);
        }
    }
}

.message {
    margin-bottom: 0;
}

.email {
    font-weight: 700;
}

.footer {
    @include m.font;
    text-align: center;
    color: var(--light-secondary-45);
    @include m.phone {
        max-width: 250px;
    }
}
