@use '@sass/mixins.scss' as m;

.alert {
    position: fixed;
    bottom: 72px;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 395px;
    width: 100%;
    padding: var(--gap-8) var(--gap-18);
    @include m.phone {
        bottom: 105px;
        max-width: calc(100% - 48px);
    }
    :global {
        .ant-alert-icon {
            margin-right: var(--gap-12);
        }
        .ant-alert-message {
            @include m.font;
        }
    }
}
