@use '@sass/mixins.scss' as m;

.wrapper {
    padding: 0 var(--gap-32);
    :global {
        .ant-drawer-content-wrapper {
            border-radius: var(--gap-8) 0 0 var(--gap-8);
            box-shadow: 0 9px 28px 8px rgba(0, 0, 0, 0.05), 0 3px 6px -4px rgba(0, 0, 0, 0.12),
                0 6px var(--gap-16) 0 rgba(0, 0, 0, 0.08);
            @include m.tablet {
                max-height: 555px;
                height: 100%;
                border-radius: var(--gap-24) var(--gap-24) 0 0;
            }
        }
        .ant-drawer-content {
            border-radius: var(--gap-8) 0 0 var(--gap-8);
            @include m.tablet {
                border-radius: var(--gap-24) var(--gap-24) 0 0;
            }
        }
        .ant-drawer-header {
            padding: var(--gap-24) var(--gap-32) var(--gap-16);
            border: none;
            @include m.tablet {
                padding: var(--gap-24) var(--gap-16) var(--gap-16);
            }
        }
        .ant-drawer-header-title {
            flex-direction: row-reverse;
        }
        .ant-typography {
            @include m.font($size: var(--font-size-l), $weight: 500);
            color: var(--light-title-85);
        }
        .ant-drawer-close {
            margin: 0;
            padding: 0;
            font-size: var(--font-size-base);
            color: var(--light-secondary-45);
        }
        .ant-drawer-body {
            padding: 0;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            overflow-y: auto;
        }
        .ant-drawer-footer {
            padding: var(--gap-12) var(--gap-32);
            @include m.phone {
                padding: var(--gap-12) var(--gap-16);
            }
        }
    }
    @include m.tablet {
        padding: 0 var(--gap-16);
    }
}

.mask {
    background-color: transparent;
}

.body {
    padding: 0 var(--gap-32);
    @include m.phone {
        padding: 0 var(--gap-16);
    }
}
