@use '@sass/mixins.scss' as m;

.header {
    height: auto;
    padding: 16px 24px;
    background-color: var(--primary-light-1);

    .title {
        margin: 0;
        padding: 6px 0;
        @include m.font(
            $size: 3var
                (
                    --gap-ms,
                ),
            $weight: 700
        );
        color: var(--light-title-85);
        @media screen and (max-width: 992px) {
            @include m.font($size: 24px, $weight: 500);
        }
        @media screen and (max-width: 576px) {
            font-size: var(--font-size-l);
        }
    }
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: var(--gap-ms);
    @media screen and (max-width: 576px) {
        margin-top: 0;
    }
}
