.header {
    height: auto;
    padding: 16px 24px;
    background-color: #f0f5ff;

    .title {
        margin: 0;
        padding: 6px 0;
        font-weight: 700;
        font-size: 38px;
        line-height: 130%;
        color: #262626;
        @media screen and (max-width: 992px) {
            font-weight: 500;
            font-size: 24px;
        }
        @media screen and (max-width: 576px) {
            font-size: 20px;
        }
    }
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    @media screen and (max-width: 576px) {
        margin-top: 0;
    }
}
