@use '@sass/mixins.scss' as m;

.wrapper {
    padding-top: 50px;
    :global {
        .ant-menu-item {
            margin-top: var(--gap-ll);
            &::after {
                border-color: var(--blue-light-6);
            }
        }
        .ant-menu-item:first-child {
            margin-top: 0;
        }
        .ant-menu-item:hover,
        .ant-menu-item-active,
        .ant-menu-item-selected {
            color: var(--primary-light-5);
        }
    }

    @include m.phone {
        padding-top: var(--gap-l);
        :global {
            .ant-menu-item {
                margin-top: var(--gap-m);
                padding-right: var(--gap-ms);
            }
        }
    }
}
