@use '@sass/mixins.scss' as m;

.icon {
    display: flex;
}

.data {
    @include m.flex($j-c: space-between);
    padding: 0 var(--gap-32) var(--gap-8);
    :global {
        .ant-typography {
            @include m.font($weight: 500);
            color: var(--light-secondary-45);
        }
    }
    @include m.tablet {
        padding: 0 var(--gap-16) var(--gap-8);
    }
}

.badge {
    :global {
        .ant-badge-status-text {
            @include m.font($weight: 500);
            color: var(--light-secondary-45);
        }
    }
}

.watning {
    margin: 0;
    margin-top: auto;
    padding: var(--gap-32);
    padding-top: 0;
    @include m.font($size: var(--font-size-s));
    color: var(--light-secondary-45);
    text-align: center;
}
