@use '@sass/mixins.scss' as m;

.wrapper {
    padding: 0 var(--gap-32);
    border-radius: var(--gap-8) 0 0 var(--gap-8);
    box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 3px 6px -4px rgba(0, 0, 0, 0.12),
        0px 6px 16px 0px rgba(0, 0, 0, 0.08);

    :global {
        .ant-drawer-content-wrapper {
            border-radius: var(--gap-8) 0px 0px var(--gap-8);
            box-shadow: 0 9px 28px 8px rgba(0, 0, 0, 0.05), 0 3px 6px -4px rgba(0, 0, 0, 0.12),
                0 6px var(--gap-16) 0 rgba(0, 0, 0, 0.08);
            @include m.tablet {
                max-height: 555px;
                height: 100%;
                border-radius: var(--gap-24) var(--gap-24) 0 0;
            }
        }
        .ant-drawer-content {
            border-radius: var(--gap-8) 0 0 var(--gap-8);
            @include m.tablet {
                border-radius: var(--gap-24) var(--gap-24) 0 0;
            }
        }
        .ant-drawer-header {
            padding: var(--gap-24) var(--gap-32) var(--gap-16);
            border: none;
            @include m.tablet {
                padding: var(--gap-24) var(--gap-16) var(--gap-16);
            }
        }
        .ant-drawer-header-title {
            flex-direction: row-reverse;
        }
        .ant-typography {
            @include m.font($size: var(--font-size-l), $weight: 500);
            color: var(--light-title-85);
        }
        .ant-drawer-close {
            margin: 0;
            padding: 0;
            font-size: var(--font-size-base);
            color: var(--light-secondary-45);
        }
        .ant-drawer-body {
            padding: 0;
            display: flex;
            flex-direction: column;
        }
    }
    @include m.tablet {
        padding: 0 var(--gap-16);
        border-radius: var(--gap-24) var(--gap-24) 0 0;
    }
}

.title {
    @include m.flex($j-c: flex-start);
    gap: var(--gap-10);
}

.icon {
    display: flex;
}

.data {
    @include m.flex($j-c: space-between);
    padding: 0 var(--gap-32) var(--gap-8);
    :global {
        .ant-typography {
            @include m.font($weight: 500);
            color: var(--light-secondary-45);
        }
    }
    @include m.tablet {
        padding: 0 var(--gap-16) var(--gap-8);
    }
}

.badge {
    :global {
        .ant-badge-status-text {
            @include m.font($weight: 500);
            color: var(--light-secondary-45);
        }
    }
}

.watning {
    margin: 0;
    margin-top: auto;
    padding: var(--gap-32);
    padding-top: 0;
    @include m.font($size: var(--font-size-s));
    color: var(--light-secondary-45);
    text-align: center;
}
