@use '@sass/mixins.scss' as m;

.content {
    display: flex;
    flex-direction: column;
    padding: 24px;
    @media screen and (max-width: 768px) {
        padding-left: var(--gap-l);
        padding-right: var(--gap-l);
    }
}

.text {
    font-size: var(--font-size-l);
    font-weight: 500;
    line-height: 130%;
    color: #262626;
}

.main_card {
    @include m.card-base;
    padding: 24px;
    box-shadow: var(--box-shadow-dark);
    @media screen and (max-width: 576px) {
        padding: var(--gap-l);
    }
}
