.wrapper {
    padding-top: 30px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    @media screen and (max-width: 480px) {
        padding-top: 0;
        position: fixed;
        height: 100vh;
        z-index: 1;
    }
}

