@use '@sass/mixins.scss' as m;

.wrapper {
    padding-top: 30px;
    background-color: #fff;
    box-shadow: 0 2px var(--gap-ms) rgba(0, 0, 0, 0.15);
    @include m.phone {
        padding-top: 0;
        position: fixed;
        height: 100vh;
        z-index: 1;
    }
}
