@use '@sass/mixins.scss' as m;

.footer {
    padding: 0 24px 42px;
    background: transparent;
    @media screen and (max-width: 768px) {
        padding-left: 16px;
        padding-right: 16px;
    }
}
.item {
    flex: 0 1 auto;
    @media screen and (max-width: 768px) {
        flex-basis: 100%;
    }
}

.link {
    display: flex;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 130%;
    color: #2f54eb;
    @media screen and (max-width: 768px) {
        margin-top: 24px;
        justify-content: center;
    }
}

.apps_list {
    display: flex;
    padding: 12px 0;
}

.apps_title {
    font-weight: 400;
    line-height: 130%;
    color: #2f54eb;
}

.app {
    width: 120px;
    padding: 7px 0;
    color: #262626;
    @media screen and (max-width: 768px) {
        width: 164px;
    }
}

.card_apps {
    @include m.card-base;
    box-shadow: var(--box-shadow-light);
    :global {
        .ant-card-head-wrapper {
            flex-direction: column;
            align-items: flex-start;
            padding: 12px 0;
            @media screen and (max-width: 768px) {
                align-items: center;
            }
        }
        .ant-card-extra {
            margin-top: 8px;
            margin-left: 0;
            font-weight: 400;
            line-height: 130%;
            color: #8c8c8c;
        }
        .ant-card-body {
            display: flex;
            padding: 12px 0;
        }
        @media screen and (max-width: 768px) {
            .ant-card-head-wrapper,
            .ant-card-body {
                align-items: center;
                justify-content: center;
            }
        }
    }
}
