@use '@sass/mixins.scss' as m;

.feedback {
    width: 100%;
    margin-bottom: 20px;
    padding: 16px;
    @include m.card-base;
    @include m.font;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    :global(.ant-card-body) {
        padding: 0;
        @include m.flex($j-c: flex-start, $items: flex-start);
        @include m.tablet-l {
            flex-direction: column;
        }
    }
}
