@use '@sass/mixins.scss' as m;

.form {
    width: 100%;

    :global {
        .ant-form-item {
            margin-bottom: 0;
            &:first-child {
                margin-bottom: 32px;
            }
            &:nth-child(2) {
                margin-bottom: 30px;
            }
            &:nth-child(3) {
                padding: 24px 0 23px 0;
            }
        }

        .ant-input-group > *,
        .ant-input-affix-wrapper,
        .ant-input {
            line-height: 130%;
            color: var(--light-title-85);
        }

        .ant-input {
            line-height: 130%;
        }

        .ant-input,
        .ant-input-affix-wrapper {
            padding: 10px 12px;
            border-radius: 2px;
            border-color: var(--light-border);
        }
        .ant-form-item-control-input {
            min-height: auto;
        }
        .ant-form-item-control-input-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .ant-checkbox-checked {
            .ant-checkbox-inner {
                border-radius: 2px;
            }
        }
    }
}

.forgot {
    font-size: 16px;
    color: var(--primary-light-6);
    @include m.phone {
        font-size: 14px;
    }
}

.primary {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 15px;
    font-size: 16px;
    line-height: 130%;
    text-shadow: none;
    background: var(--primary-light-6);
    border: 1px solid var(--primary-light-6);
    border-radius: 2px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
}

.sign_in_btn {
    @include m.primary-btn;
}

.forgot_btn {
    padding: 0;
    font-size: 16px;
    color: var(--primary-light-6);
    border: none;
    @include m.phone {
        font-size: 14px;
        padding: 0 7px;
    }
}
