@use '@sass/mixins.scss' as m;

.form {
    width: 100%;

    :global {
        .ant-form-item {
            margin-bottom: 0;
            &:first-child {
                margin-bottom: 32px;
            }
            &:nth-child(2) {
                margin-bottom: 30px;
            }
            &:nth-child(3) {
                padding: 24px 0 23px 0;
            }
        }

        .ant-input-group > *,
        .ant-input-affix-wrapper,
        .ant-input {
            line-height: var(--line-height-base);
            color: var(--light-title-85);
        }

        .ant-input {
            line-height: var(--line-height-base);
        }

        .ant-input,
        .ant-input-affix-wrapper {
            @include m.input-affix-wrapper;
        }
        .ant-form-item-control-input {
            min-height: auto;
        }
        .ant-form-item-control-input-content {
            @include m.flex($j-c: space-between);
        }

        .ant-checkbox-checked {
            .ant-checkbox-inner {
                border-radius: var(--border-radius-xs);
            }
        }
    }
}

.forgot {
    font-size: var(--font-size-m);
    color: var(--primary-light-6);
    @include m.phone {
        font-size: var(--font-size-base);
    }
}

.primary {
    @include m.primary-btn;
    padding: 7px 15px;
    @include m.phone {
        font-size: var(--font-size-m);
    }
}

.sign_in_btn {
    @include m.primary-btn;
}

.forgot_btn {
    padding: 0;
    font-size: var(--font-size-m);
    color: var(--primary-light-6);
    border: none;
    @include m.phone {
        font-size: var(--font-size-base);
        padding: 0 7px;
    }
}
