@use '@sass/mixins.scss' as m;

.main {
    @include m.flex;
    flex-direction: column;
    width: 100%;
    padding: var(--gap-24);
    padding-bottom: 42px;
    @include m.phone {
        margin: 0;
        padding-left: var(--gap-l);
        padding-right: var(--gap-l);
    }
}

.main_with_feedbacks {
    @extend .main;
    margin: auto;
}
