@use '@sass/mixins.scss' as m;

.card_body {
    width: 100%;
    @include m.flex;
    gap: var(--gap-8);
    padding: 19px 0;
    line-height: 130%;
    color: var(--primary-light-6);
    @media screen and (max-width: 970px) {
        padding: 19px 0;
    }
}

.main_card_mini {
    @include m.card-base;
    :global(.ant-card-head-title) {
        padding: var(--gap-12) 0;
        text-align: center;
        font-weight: 400;
        line-height: 130%;
        color: var(--light-title-85);
        @media screen and (max-width: 969px) {
            white-space: normal;
        }
        @media screen and (max-width: 834px) {
            text-align: start;
        }
        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }
}
