@use '../../../sass/mixins.scss' as m;

.btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 15px;
    font-size: 16px;
    line-height: 130%;
    text-shadow: none;
    background: var(--primary-light-6);
    border: 1px solid var(--primary-light-6);
    border-radius: 2px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    @include m.phone {
        font-size: 14px;
    }
}

.btn_notice {
    @extend .btn;
    padding: 10px 15px;
    font-size: 14px;
}

.forgot {
    padding: 0;
    font-size: 16px;
    color: var(--primary-light-6);
    border: none;
    @include m.phone {
        font-size: 14px;
        padding: 0 7px;
    }
}

.google {
    @extend .btn;
    margin-top: 16px;
    margin-bottom: 109px;
    padding: 9px 15px;
    background: var(--base-light);
    border-color: var(--light-border);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
    :global {
        .anticon {
            display: flex;
            margin-right: 2px;
            @include m.phone {
                display: none;
            }
        }
    }
}

.google_reg {
    @extend .google;
    margin-bottom: 0;
}

.btn_change_password {
    @extend .btn;
    @include m.phone {
        font-size: 16px;
    }
}
