@use '../../../sass/mixins.scss' as m;

.wrapper {
    @include m.form-wrapper;
    max-width: 539px;
    @include m.phone {
        padding: 32px 16px;
    }
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
        margin-bottom: 32px;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        color: var(--light-title-85);
        line-height: 130%;
    }
}

.form {
    width: 100%;
    max-width: 368px;
    :global {
        .ant-form-item {
            margin-bottom: 46px;
            &:nth-child(2) {
                margin-bottom: 62px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }

        .ant-input-group > *,
        .ant-input-affix-wrapper,
        .ant-input {
            line-height: 130%;
            color: var(--light-title-85);
        }

        .ant-input {
            line-height: 130%;
        }

        .ant-input,
        .ant-input-affix-wrapper {
            padding: 10px 12px;
            border-radius: 2px;
            border-color: var(--light-border);
        }
        .ant-form-item-control-input {
            min-height: auto;
        }
        .ant-form-item-control-input-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .ant-form-item-explain {
            font-size: 12px;
            line-height: 130%;
        }
    }
}

.btn_change_password {
    @include m.primary-btn;
    @include m.phone {
        font-size: 16px;
    }
}
