@use '@sass/mixins.scss' as m;

.breadcrumbs {
    @include m.font;
    li:last-child a {
        color: var(--light-title-85);
    }
    :global {
        .ant-breadcrumb-link a {
            color: var(--light-secondary-45);
        }
    }
}
