@import '@constants/variables';

body {
    margin: 0;
    height: 100vh;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 100%;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    background-color: var(--base-light);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    margin: 0;
}

ol,
ul,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
}

fieldset {
    padding: 0;
}

/* reset styles ant design */
.ant-tabs,
.ant-form {
    line-height: 130%;
    color: #262626;
}

.ant-tabs {
    font-size: 16px;

}
.ant-tabs > *,
.ant-form > * {
    line-height: inherit;
}
a.ant-btn,
.ant-btn {
    height: auto;
    line-height: 130%;
 }

h1 .ant-typography,
div .ant-typography{
  margin-bottom: 0;
}

.ant-card > * {
    color: inherit;
    line-height: inherit;
}

.ant-card-head {
    min-height: auto;
}

.ant-card-head-title,
.ant-card-extra {
    padding: 0;
}

h1.ant-typography,
h2.ant-typography,
h3.ant-typography,
h4.ant-typography,
h5.ant-typography {
    color: var(--light-title-85)
}
