@use '@sass/mixins.scss' as m;

.wrapper {
    max-width: 100%;
    height: calc(100vh - 70px);
    padding: var(--gap-24) var(--gap-24) var(--gap-42);
    @include m.flex($j-c: flex-start, $items: flex-start);
    background-color: var(--light-dividers);
    overflow-y: auto;
    @include m.phone {
        height: calc(100% - 62px);
        padding: var(--gap-24) 0 var(--gap-42);
    }
}

.content {
    width: 100%;
    height: 100%;
    padding: var(--gap-24);
    @include m.flex($j-c: flex-start, $items: flex-start);
    flex-direction: column;
    background-color: var(--base-light);
    border-radius: var(--border-radius-m);
    :global {
        .ant-typography {
            @include m.font($size: var(--font-size-l), $weight: 500);
        }
    }
    @include m.phone {
        padding: var(--gap-16) var(--gap-24);
    }
}

.tariff_list {
    margin-top: var(--gap-16);
}

.btn_group {
    margin-top: 72px;
    @include m.flex;
    @include m.tablet {
        width: 100%;
        margin-top: 0;
        flex-direction: column;
    }
}

.btn_write_review {
    @include m.primary-btn;
    width: fit-content;
    margin-right: var(--gap-8);
    font-size: var(--font-size-base);
    @include m.tablet {
        width: 100%;
        margin-right: 0;
        margin-bottom: var(--gap-16);
    }
}

.link_review {
    padding: 11px 15px;
    @include m.font;
    color: var(--primary-light-6);
}
