@use '@sass/mixins.scss' as m;

.google {
    @include m.primary-btn;
    margin-top: var(--gap-16);
    margin-bottom: 109px;
    padding: var(--padding-primary-btn);
    background: var(--base-light);
    border-color: var(--light-border);
    box-shadow: var(--box-shadow-light);
    :global {
        .anticon {
            display: flex;
            margin-right: var(--gap-2);
            @include m.phone {
                display: none;
            }
        }
    }
}

.google_reg {
    @extend .google;
    margin-bottom: 0;
}
