@use '@sass/mixins.scss' as m;

.container {
    height: 40px;
    gap: var(--gap-mm);
    @include m.phone {
        gap: var(--gap-ms);
        padding: 0 10px;
    }
}
.character {
    align-self: center;
    padding: 11px 12px;
    @include m.font;
    color: var(--light-title-85);
    border-radius: var(--border-radius-xs);
    border: var(--border-style-base);
    background: var(--base-light);
}

.err {
    border-color: var(--light-error);
}

.result {
    padding: 0;
    :global {
        .ant-result-title {
            font-weight: 500;
            line-height: var(--line-height-base);
            color: var(--light-title-85);
        }

        .ant-result-subtitle {
            line-height: var(--line-height-base);
            color: var(--light-secondary-45);
        }
    }
}

.message {
    margin-bottom: 0;
}
