@use '@sass/mixins.scss' as m;

@mixin wrapper_mobile {
    position: fixed;
    top: auto;
    right: auto;
    left: 50%;
    max-width: 312px;
    transform: translate(-50%, 0);
}

.wrapper {
    position: absolute;
    top: 0;
    left: 3px;
    min-width: 264px;
    width: 100%;
    @include m.card-base;
    box-shadow: var(--box-shadow-custom-modal);
    z-index: 3;
    :global {
        .ant-card-meta {
            margin: 0;
        }
        .ant-card-meta-title {
            font-weight: 700;
        }
        .ant-card-meta-detail {
            & div:not(:last-child) {
                margin-bottom: var(--gap-4);
            }
        }
        .ant-empty-image {
            margin-bottom: 0;
        }
        .ant-card-actions {
            border: none;
            box-shadow: 0 1px 0 0 #f0f0f0 inset;
        }
        .ant-card-actions {
            & li {
                margin: var(--gap-12);
            }
        }
    }
    @include m.phone {
        @include wrapper_mobile;
    }
}

.wrapper_last_day {
    @extend .wrapper;
    left: auto;
    right: 3px;
    @include m.phone {
        @include wrapper_mobile;
    }
}

.text {
    text-align: left;
}

.title {
    padding: var(--gap-16) var(--gap-12);
    @include m.flex($j-c: space-between);
    button {
        align-self: flex-start;
    }
    div {
        @include m.font($weight: 700);
        color: var(--light-title-85);
        :global(.ant-card-meta-description) {
            @include m.font;
            color: var(--light-secondary-45);
        }
    }
}

.btn_training {
    @include m.primary-btn;
    font-size: var(--font-size-base);
}

.btn_close {
    padding: var(--gap-4);
    width: fit-content;
}
