@use '@sass/mixins.scss' as m;

.body {
    padding-top: var(--gap-24);
    .subtitle {
        margin-bottom: var(--gap-24);
        padding: var(--gap-14) 0;
        @include m.font($size: 16px, $weight: 500);
        color: var(--primary-light-10);
        background-color: var(--primary-light-1);
        text-align: center;
        @include m.phone {
            margin-top: var(--gap-24);
            margin-bottom: 0;
        }
    }
}

.btn_pay {
    @include m.primary-btn;
    font-size: var(--font-size-base);
}

.subtitle {
    margin-bottom: var(--gap-24);
    padding: var(--gap-14) 0;
    @include m.font($size: 16px, $weight: 500);
    color: var(--primary-light-10);
    background-color: var(--primary-light-1);
    text-align: center;
}
